<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/recipes" >The Chef's book</a>
    </div>

    <div class="navbar-default">
      <!-- Alternative classes: collapse navbar-collapse -->
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      </ul>

      <!-- Right section of menu -->
      <ul class="nav navbar-nav navbar-right">
        <div *ngIf="!authService.isAuthenticated(); then loggedin else loggedout"></div>
        
        <ng-template #loggedin>
          <li><a routerLink="/signup">Register</a></li>
          <li><a routerLink="/signin">Log In</a></li>
        </ng-template>
        
        <ng-template #loggedout>
          <li><a class="clickable" (click)="onLogout()">Log Out</a></li>
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Manage
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="clickable" (click)="onSaveData()">Save Data</a></li>
              <li><a class="clickable" (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </li>
        </ng-template>

      </ul>  
      
    </div>
  </div>
</nav>