<div class="card-panel">

    <div *ngIf="editMode; else newRecipeMessage">
        <h5 class="title">Edit your recipe:</h5>
    </div>
    <ng-template #newRecipeMessage>
        <h5 class="title">Enter your new recipe:</h5>
    </ng-template>

    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <label for="name" [ngClass]="{'active': editMode }">Recipe Title</label>
                    <input type="text" id="name" class="form-control brow" formControlName="name">
                    <div class="form-errors"
                        *ngIf="recipeForm.get('name').invalid && 
                        (recipeForm.get('name').dirty || recipeForm.get('name').touched)"
                    >
                        <div *ngIf="recipeForm.get('name').errors.required">
                            Recipe title is required.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <label for="imagePath" [ngClass]="{'active': editMode }">Image URL</label>
                    <input type="text" id="imagePath" class="form-control" formControlName="imagePath" #imagePath>
                    <div class="form-errors"
                        *ngIf="recipeForm.get('imagePath').invalid && 
                        (recipeForm.get('imagePath').dirty || recipeForm.get('imagePath').touched)"
                    >
                        <div *ngIf="recipeForm.get('imagePath').errors.required">
                            Image URL is required.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col s12">
                <img [src]="imagePath.value" class="responsive-img recipe-image">
            </div>
        </div>

        <h6 class="subtitle">Ingredients:</h6>
        <div class="row">
            <div class="col s12" formArrayName="ingredients">
                <div class="ingredients-wrapper">
                    <div class="row ingredients-header">
                        <div class="col s2">Amount</div>
                        <div class="col s9">Ingredient name</div>
                    </div>
                    <div 
                        class="row ingredient-row" 
                        *ngFor="let ingredientCrl of recipeForm.get('ingredients').controls; let i = index"
                        [formGroupName]="i"
                    >
                        <div class="col s2">
                            <input 
                                type="number" 
                                class="form-control"
                                formControlName="amount"
                                min="0">
                            
                            <div class="form-errors"
                                *ngIf="ingredientCrl.get('amount').invalid && 
                                (ingredientCrl.get('amount').dirty || ingredientCrl.get('amount').touched)"
                                >
                                <div *ngIf="ingredientCrl.get('amount').errors.required">
                                    Amount is required.
                                </div>
                                <div *ngIf="ingredientCrl.get('amount').errors.pattern">
                                    Amount should be a positive number.
                                </div>
                            </div>
                        </div>
                        <div class="col s9">
                            <input 
                                type="text" 
                                class="form-control" 
                                formControlName="name">

                            <div class="form-errors"
                                *ngIf="ingredientCrl.get('name').invalid && 
                                (ingredientCrl.get('name').dirty || ingredientCrl.get('name').touched)"
                                >
                                <div *ngIf="ingredientCrl.get('name').errors.required">
                                    Name is required.
                                </div>
                                <div *ngIf="ingredientCrl.get('name').errors.validateDuplicates">
                                    This ingredient name already exists in this recipe.
                                </div>
                            </div>
                        </div>
                        <div class="col s1">
                            <div class="cancel clickable" (click)="onDeleteIngredient(i)">
                                <i class="material-icons">cancel</i></div>
                            </div>
                    </div>
                    
                    <div class="row add-ingredients">
                        <div class="col s12">
                            <button 
                                type="button"
                                class="btn waves-effect waves-light" 
                                (click)="onAddIngredient()"
                            >Add Ingredient</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <h6 class="subtitle">Description and Preparation:</h6>
        <div class="row">
            <div class="col s12">
                <div class="input-field">
                    <!-- <label for="description" [ngClass]="{'active': editMode }">Description and Preparation</label> -->
                    <!-- <textarea type="text" id="description" class="form-control materialize-textarea" rows="6"  formControlName="description"></textarea> -->
                    <!-- <quill-editor (onEditorCreated)="onQuillEditorCreated($event)" (onContentChanged)="onQuillContentChanged($event)"></quill-editor> -->
                    
                    <quill-editor 
                        #editor 
                        [formControl]="recipeForm.controls['description']"
                        [style]="{minHeight: '200px'}"
                    ></quill-editor>

                    <div class="form-errors"
                        *ngIf="recipeForm.get('description').invalid && 
                        (recipeForm.get('description').dirty || recipeForm.get('description').touched)"
                    >
                        <div *ngIf="recipeForm.get('description').errors.required">
                            Description is required.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
                <div class="col main-actions">
                    <button type="button" class="btn-flat waves-effect waves-light" (click)="onCancel()">Cancel</button>
                    <button type="submit" class="btn waves-effect waves-light" [disabled]="!recipeForm.valid">Save</button>
                </div>
            </div>
    </form>
</div>