// .ingredient-row{
//     margin-top: 0.8em;
// }
// input.ng-invalid.ng-touched,
// textarea.ng-invalid.ng-touched{
//     border: 1px solid red;
// }

.card-panel{
    background: rgba(255, 255, 255, 0.9);
}
.cancel{
    padding: 0;
    width: 100%;
}
.row{
    margin: 0;
}
.title, .subtitle{
    padding: 0 0.75rem;
}