<div class="card">
  <ng-container *ngIf="recipe && ingredients && !error">
    <div class="card-image">
      <img [src]="recipe.imagePath">
      <span class="card-title">{{recipe.name}}</span>
    </div>
    <div class="card-content">
      
      <div class="dropdown-wrapper" appDropdown>
        <a class="btn dropdown-btn" data-activates="dropdown1">Manage Recipe<i class="material-icons right">arrow_drop_down</i></a>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a class="clickable" (click)="onAddToShoppingList()">To Shopping List</a></li>
          <li *ngIf="userOwnsRecipe"><a class="clickable" routerLink="edit">Edit Recipe</a></li>
          <li *ngIf="userOwnsRecipe"><a class="clickable" (click)="onToggleDeleteConfirmation()">Delete Recipe</a></li>
        </ul>
      </div>
      
      <div class="recipe-description" [innerHTML]="recipe.description"></div>
      <h5>Ingredients:</h5>
      <ul class="collection">
        <li class="collection-item" *ngFor="let ingredient of ingredients">{{ ingredient.name }} - {{ ingredient.amount }}</li>
      </ul>
    </div>
  </ng-container>
</div>
<div *ngIf="error" class="container white-text">
  <h5 class="title">Something went wrong, please try again.</h5>
</div>
<div class="confirmation-modal" [ngClass]="{active: isConfirmationOpen}">
  <div class="card-panel">
    <p>Are you sure you want to delete this recipe? This cannot be undone.</p>
    <a class="waves-effect waves-green btn-flat" (click)="onToggleDeleteConfirmation()">Cancel</a>
    <a class="waves-effect waves-light btn warning" (click)="onDeleteRecipe()">Delete</a>
  </div>
</div>