<div class="card">
  <app-loader text="Loading recipe..." *ngIf="(loadingDetails || loadingIngredients) && !error"></app-loader>
  <ng-container *ngIf="!loadingDetails && !loadingIngredients && !error">
    <div class="card-image">
      <img [src]="recipe.imagePath">
      <span class="card-title">{{recipe.name}}</span>
    </div>
    <div class="card-content">
      
      <div class="dropdown-wrapper" appDropdown>
        <a class="btn dropdown-btn" data-activates="dropdown1">Manage Recipe<i class="material-icons right">arrow_drop_down</i></a>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
          <li><a class="clickable" (click)="onAddToShoppingList()">To Shopping List</a></li>
          <li *ngIf="userOwnsRecipe"><a class="clickable" routerLink="edit">Edit Recipe</a></li>
          <li *ngIf="userOwnsRecipe"><a class="clickable" (click)="onToggleDeleteModal()">Delete Recipe</a></li>
        </ul>
      </div>

      <p class="description">{{recipe.description}}</p>
      
      <h6 class="subtitle">Ingredients:</h6>
      <ul class="browser-default">
        <li class="ingredients-item" *ngFor="let key of ingredients | objectKeys">{{ ingredients[key].amount }} {{ ingredients[key].name }}</li>
      </ul>

      <h6 class="subtitle">Preparation:</h6>
      <div class="recipe-description inserted-html" [innerHTML]="recipe.preparation"></div>
      
    </div>
  </ng-container>
</div>
<div *ngIf="error" class="container white-text">
  <h5 class="title">Something went wrong, please try again.</h5>
</div>

<app-confirmation-modal
  [config]="deleteModalConfig"
  [(isVisible)]="isDeleteModalOpen"
  (buttonClick)="onDeleteModalClick($event)"
></app-confirmation-modal>