// .recipe-detail-img {
//   height: 300px;
// }
// h1 {
//   font-family: Montserrat, arial;
//   text-transform: uppercase;
//   letter-spacing: 1px;
//   color: #ffb03b;
//   font-weight: normal;
//   font-size: 1.8em;
// }
// .recipe-description {
//   font-family: Satisfy, 'Open Sans', arial;
//   padding: 1em 0 1em;
//   font-size: 1.2em;
// }
.card-image{

    height: 26em;
    overflow: hidden;

    img{
        width: 100%;
        min-height: 100%;
        transform: translateY(-25%);
    }
}
.card-title{
    background: rgba(102, 187, 106, 0.67);
    width: 100%;
}