.img-responsive {
  max-height: 50px;
}

.list-group-item-heading {
  font-family: Montserrat, arial;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffb03b;
  font-weight: normal;
  font-size: 1em;
}
.list-group-item-text {
  color: #b1b1b1;
  font-family: Satisfy, 'Open Sans', arial;
}
