<div class="row">
  <div class="col-xs-12">
    <p>Add a new ingredient here, or click an item from the shopping list below to edit it here.</p>
    <form [formGroup]="ingredientForm" (ngSubmit)="onAddItem()">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input 
            class="form-control"
            formControlName="ingredientName"
            id="name" 
            type="text" 
          >
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input 
            class="form-control"
            formControlName="ingredientAmount"
            id="amount" 
            min="0"
            type="number" 
          >
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!ingredientForm.valid">{{ editMode ? "Update" : "Add"}}</button>
          <button class="btn btn-danger" type="button" (click)="onDeleteIngredient()" [disabled]="!editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClearForm()">{{ editMode ? "Cancel" : "Clear"}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
