<div class="row">
  <div class="col s12">
    <form [formGroup]="ingredientForm" (ngSubmit)="onAddItem()">
      <div class="row">
        <div class="col s5 input-field ingredient-name">
          <label for="name" [ngClass]="{active: editMode}">Name</label>
          <input 
            class="form-control validate"
            formControlName="ingredientName"
            id="name" 
            type="text" 
          >
          <div class="form-errors"
            *ngIf="ingredientForm.get('ingredientName').invalid && 
            (ingredientForm.get('ingredientName').dirty || ingredientForm.get('ingredientName').touched)"
          >
            <div *ngIf="ingredientForm.get('ingredientName').errors.required">
                Name is required.
            </div>
          </div>
        </div>
        <div class="col s1 input-field ingredient-amount">
          <label for="amount" [ngClass]="{active: editMode}">Amount</label>
          <input 
            class="form-control validate"
            formControlName="ingredientAmount"
            id="amount" 
            min="0"
            type="number" 
          >
          <div class="form-errors"
            *ngIf="ingredientForm.get('ingredientAmount').invalid && 
            (ingredientForm.get('ingredientAmount').dirty || ingredientForm.get('ingredientAmount').touched)"
          >
            <div *ngIf="ingredientForm.get('ingredientAmount').errors.required">
                Amount is required.
            </div>
            <div *ngIf="ingredientForm.get('ingredientAmount').errors.pattern">
                Amount should be a positive number.
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light" type="submit" [disabled]="!ingredientForm.valid">{{ editMode ? "Update" : "Add"}}</button>
          <button class="btn waves-effect waves-light" type="button" (click)="onDeleteIngredient()" [disabled]="!editMode">Delete</button>
          <button class="btn waves-effect waves-light" type="button" (click)="onClearForm()">{{ editMode ? "Cancel" : "Clear"}}</button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-confirmation-modal
  [config]="modalConfig"
  [(isVisible)]="isConfirmationModalOpen"
  (buttonClick)="onConfirmationModalClick($event)"
></app-confirmation-modal>