<div class="row">
  <div class="col s12">
    <p class="description">Add a new ingredient here, or click an item from the shopping list below to edit it here.</p>
    <form [formGroup]="ingredientForm" (ngSubmit)="onAddItem()">
      <div class="row">
        <div class="col s5 input-field">
          <label for="name">Name</label>
          <input 
            class="form-control validate"
            formControlName="ingredientName"
            id="name" 
            type="text" 
          >
        </div>
        <div class="col s1 input-field">
          <label for="amount">Amount</label>
          <input 
            class="form-control validate"
            formControlName="ingredientAmount"
            id="amount" 
            min="0"
            type="number" 
          >
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button class="btn waves-effect waves-light" type="submit" [disabled]="!ingredientForm.valid">{{ editMode ? "Update" : "Add"}}</button>
          <button class="btn waves-effect waves-light" type="button" (click)="onDeleteIngredient()" [disabled]="!editMode">Delete</button>
          <button class="btn waves-effect waves-light" type="button" (click)="onClearForm()">{{ editMode ? "Cancel" : "Clear"}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
