<section class="row shopping-list">
  <div class="col s8 offset-s2">
    <h3 class="shopping-list-title">Shopping List</h3>
    <ul class="shopping-list-instructions browser-default">
      <li>After finding a recipe you like, you can copy all of its ingredients to your shopping list directly from the recipe's options.</li>
      <li>You can edit the names and quantities of existing ingredients, or manually add your own ingredients to your list.</li>
      <li><a class="clickable" routerLink="/signup">Register</a> or <a class="clickable" routerLink="/signin">log in</a> to save your shopping list to your profile!</li>      
    </ul>

    <app-shopping-list-edit ></app-shopping-list-edit>
    
    <p class="shopping-list-empty" *ngIf="(ingredients2 | objectKeys).length === 0">You don't have any ingredients in your shopping list yet.</p>
    <div class="collection">
      <a
        (click)="onEditItem(i)"
        *ngFor="let key of ingredients2 | objectKeys"
        class="collection-item" 
        style="cursor: pointer"
      >
        {{ingredients2[key].name}} - {{ingredients2[key].amount}}
      </a>
    </div>
  </div>
</section>
