.shopping-list{
    background: rgba(255, 255, 255, 0.9);
    padding: 3% 0 11%;
}
.shopping-list-title{
    font-family: 'Satisfy', sans-serif;
    color: #66BB6A;
    margin: 0 0 0.6em;
}
.shopping-list-subtitle{
    margin: 1rem 0 1rem;
}
.shopping-list-empty{
    color: #26a69a;
    text-align: center;
    margin: 2em 0 0;
}
