.card-panel{
    background: rgba(255, 255, 255, 0.98);
    overflow: auto;
    max-width: 27em;
    margin: 15% auto 0;
}
.icon{
    display: block;
    text-align: center;
}
h1{
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.5em;
}
.register{
    margin: 4em 0 0;
    display: block;
    font-size: 0.9em;

    &:hover{
        text-decoration: underline;
    }
}
.password-group{

    margin-bottom: 3em;

    .row:nth-child(2){

        margin-bottom: 0;
        
        .input-field{
            margin-bottom: 0;
        }
    }
    
    &.ng-invalid.confirmation-touched{ //We want to display the red border on both fields only after the second one has been touched
        input[type=password]:not(.browser-default){
            border-bottom: 1px solid #ff0000;
            box-shadow: 0 1px 0 0 #ff0000;
        }
    }
}