<div class="row">
    <div class="col s4 offset-s4">
      <section class="sign-in card-panel">
          <i class="icon material-icons medium">account_circle</i>
          <h1>Create a New Account</h1>
          <form (ngSubmit)="onSignup(form)" #form="ngForm">
            <div class="row">
              <div class="input-field">
                <input 
                  class="form-control validate" 
                  type="email" 
                  id="email" 
                  name="email" 
                  ngModel
                  required
                  email
                  #email="ngModel"
                  [ngClass]="{invalid: (!email.valid && email.touched)}"
                >
                <label for="email">Email</label>
                <div *ngIf="!email.valid && email.touched" class="error">Please enter a valid email address.</div>
              </div>
            </div>
            <div class="row">
              <div class="input-field">
                <input 
                  class="form-control validate" 
                  type="password" 
                  id="password" 
                  name="password" 
                  ngModel
                  required
                  minlength="6"
                  #password="ngModel"
                  [ngClass]="{invalid: (!password.valid && password.touched)}"
                >
                <label for="password">Password</label>
                <div *ngIf="!password.valid && password.touched" class="error">Invalid password, must be 6 characters long or more.</div>
              </div>
            </div>
            <div class="row">
                <div class="input-field">
                  <input 
                    class="form-control validate" 
                    type="password" 
                    id="password-confirmation" 
                    name="password-confirmation" 
                    ngModel
                    required
                    minlength="6"
                    #passwordConfirmation="ngModel"
                    [ngClass]="{invalid: (!passwordConfirmation.valid && passwordConfirmation.touched)}"
                  >
                  <label for="password-confirmation">Password Confirmation</label>
                  <div *ngIf="!passwordConfirmation.valid && passwordConfirmation.touched" class="error">Password confirmation doesn't match.</div>
                </div>
              </div>
          
            <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!form.valid">
              Register<i class="material-icons right">send</i>
            </button>
          </form>
          <a class="register clickable"  routerLink="/signin">Already have an account? Log in here</a>
          
        </section>
    </div>
  </div>