<nav>
  <div class="nav-wrapper green lighten-1">
    <a href="#" class="brand-logo" routerLink="/">The Chef's book</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
      <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
      <li>|</li>

      <div *ngIf="!isAuthenticated(); then loggedout else loggedin"></div>
      <ng-template #loggedout>
        <li routerLinkActive="active"><a routerLink="/signup">Register</a></li>
        <li routerLinkActive="active"><a routerLink="/signin">Log In</a></li>
      </ng-template>
      <ng-template #loggedin>
        <li routerLinkActive="active"><a class="clickable" (click)="onLogout()">Log Out</a></li>
      </ng-template>
    </ul>
  </div>
</nav>

