.card-panel{
    background: rgba(255, 255, 255, 0.98);
    overflow: auto;
    max-width: 27em;
    margin: 15% auto 0;
    text-align: center
}
.icon{
    display: block;
    text-align: center;
}
h1{
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.5em;
}
.btn{
    margin: 2em 0;
}