<a class="waves-effect waves-light btn" (click)="onNewRecipeClick()">Add New Recipe</a>
<p class="list-subtitle">Latest Recipes:</p>

<app-loader *ngIf="loading"></app-loader>
<div class="collection" *ngIf="!loading">
    <a app-recipe-item 
        *ngFor="let recipeElement of recipes" 
        [recipe]="recipeElement" 
        [routerLink]="[recipeElement.id, recipeElement.slug]"
        class="collection-item avatar"
        routerLinkActive="active"
    ></a>
</div>

<app-confirmation-modal
    [config]="newRecipeModalConfig"
    [(isVisible)]="isNewRecipeModalOpen"
    (buttonClick)="onNewRecipeModalClick($event)"
></app-confirmation-modal>