<a class="waves-effect waves-light btn" (click)="onNewRecipeClick()">Add New Recipe</a>
<p class="list-subtitle">Latest Recipes:</p>
<div class="collection">
    <a app-recipe-item 
        *ngFor="let recipeElement of recipes" 
        [recipe]="recipeElement" 
        [routerLink]="[recipeElement.id, recipeElement.slug]"
        class="collection-item avatar"
        routerLinkActive="active"
    ></a>
</div>

<app-optional-action-modal
    [config]="modalConfig"
    [(isVisible)]="isModalOpen"
    (leftButtonClick)="onModalRegister()"
    (rightButtonClick)="onModalLogin()"
></app-optional-action-modal>