html { 
    background: url(./assets/images/banner-bg2-flipped.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.clickable {
    cursor: pointer;
}



/* Styles for the recipes descriptions, which are injected as innerHTML to preserve user formatting.
The specificity is needed to overwrite Materialize default styles*/
.card .card-content .recipe-description{ 
    p{
        margin: 1em 0;
    }
}

.dropdown-wrapper{

    display: inline-flex;
    flex-direction: column;
    position: relative;

    .dropdown-content{
        position: absolute;
        top: 36px;
        width: 100%;
    }

    &.active{
        .dropdown-content{
            display: block;
            opacity: 1;
        }
    }   
}

input[type=text]:not(.browser-default),
input[type=number]:not(.browser-default),
textarea.materialize-textarea{
    &.ng-touched.ng-valid{
        border-bottom: 1px solid #4CAF50;
        box-shadow: 0 1px 0 0 #4CAF50;
    }
    &.ng-touched.ng-invalid{
        border-bottom: 1px solid #ff0000;
        box-shadow: 0 1px 0 0 #ff0000;
    }
}
.form-errors{
    color: #ff0000;
    margin-top: -14px;
    font-size: 0.95em;
}